@font-face {
  font-family: 'iconTest';
  src:  url('fonts/iconTest.eot?e7ru3u');
  src:  url('fonts/iconTest.eot?e7ru3u#iefix') format('embedded-opentype'),
    url('fonts/iconTest.ttf?e7ru3u') format('truetype'),
    url('fonts/iconTest.woff?e7ru3u') format('woff'),
    url('fonts/iconTest.svg?e7ru3u#iconTest') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconTest' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-点赞空心:before {
  content: "\e900";
}
.icon-点赞实心:before {
  content: "\e901";
}
.icon-放大镜:before {
  content: "\e902";
}
.icon-分类二:before {
  content: "\e903";
}
.icon-浏览:before {
  content: "\e904";
}
.icon-日期:before {
  content: "\e905";
}
.icon-我们:before {
  content: "\e906";
}
.icon-右:before {
  content: "\e907";
}
.icon-纸飞机:before {
  content: "\e908";
}
.icon-咨询:before {
  content: "\e909";
}
.icon-左:before {
  content: "\e90a";
}
